.maincontainer {
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  padding-right: 100px;
  gap: 50px;
  /* background-color: red; */
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.list {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.pinhighlight {
  position: relative;
  padding-bottom: 10px;
  color: rgb(95, 99, 104);
  font-size: 0.6875rem;
  font-weight: 500;
  padding-left: 20px;
}

.pinhighlighte {
  right: 200px;
}
.mcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maincontainerlist {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  padding-right: 0px;
  gap: 50px;
}

@media only screen and (max-width: 750px) {
  .maincontainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
    gap: 50px;
    align-items: center;
  }
}
@media only screen and (max-width: 850px) {
  .maincontainer {
    padding-left: 0px;
    padding-right: 0px;
  }
}
