<div class="maincontainer" [class.maincontainerlist]="viewType === 'list'">
  
  <!-- Pinned Notes -->
  <ng-container *ngIf="pinedNotes.length > 0">
    <div class="pinhighlight" [class.pinhighlighte]="viewType === 'list'">PINNED</div>
    <div class="container" [class.list]="viewType === 'list'">
      <app-notes-card
        *ngFor="let note of pinedNotes"
        [title]="note.title"
        [description]="note.description"
        [viewType]="viewType"
        [color]="note.color"
        [_id]="note.id"
        (archiveNote)="removeNote($event)"
        (noteDeleted)="removeNote($event)"
      ></app-notes-card>
    </div>
  </ng-container>

  <!-- Regular Notes (Non-Pinned) -->
  <ng-container *ngIf="userNotes.length > 0">
    <div class="container" [class.list]="viewType === 'list'">
      <app-notes-card
        *ngFor="let note of userNotes.slice().reverse()"
        [title]="note.title"
        [description]="note.description"
        [viewType]="viewType"
        [color]="note.color"
        [_id]="note.id"
        (archiveNote)="removeNote($event)"
        (noteDeleted)="removeNote($event)"
      ></app-notes-card>
    </div>
  </ng-container>

  <!-- Others Header + Non-Pinned Notes -->
  <ng-container *ngIf="pinedNotes.length > 0 && nonPinedNotes.length > 0">
    <div class="pinhighlight" [class.pinhighlighte]="viewType === 'list'">OTHERS</div>
    <div class="container" [class.list]="viewType === 'list'">
      <app-notes-card
        *ngFor="let note of nonPinedNotes"
        [title]="note.title"
        [description]="note.description"
        [viewType]="viewType"
        [color]="note.color"
        [_id]="note.id"
        (archiveNote)="removeNote($event)"
        (noteDeleted)="removeNote($event)"
      ></app-notes-card>
    </div>
  </ng-container>

</div>
