.example-container {
  height: 90vh;
  width: 95%;
}
.parent {
  display: flex;
}
.setwidth {
  width: 200px;
  box-shadow: 5px 0px 5px rgb(128, 128, 128, 0.2);
}
.scontainer {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  width: 80px;
  border: 0px;
}
.togglescontainer {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
  border: 0px;
}

.tselect {
  display: flex;
  align-items: center;
  height: 48px;
  cursor: pointer;
}
.tcase1 {
  background-color: rgb(254, 239, 195);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.select {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
.case1 {
  width: 100%;
  background-color: rgb(254, 239, 195);
  justify-content: center;
}
.case2 {
  border-radius: 50%;
  background-color: rgb(254, 239, 195);
}

.maincontainer {
  background-color: white;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: #666666;
  font-size: 24px;
}
