.container {
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 150px;
  padding-right: 100px;
  padding-top: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
